.mobile_controllers_container {
  display: flex;
  justify-content: center;
  max-width: 430px;
  height: 150px;
  margin: 15px auto 5px auto;
}


.mobile_controllers {
  width: 50%;
  position: relative;
  width: 230px;
  height: 150px;
  margin-left: 50px;
}


.mobile_key {
  display: flex;
  width: 60px;
  height: 60px;
  align-items: center;
  justify-content: center;
  color: wheat;
  /* border: 1px solid gray; */
  opacity: .6;
  border-radius: 5px;
  font-size: 28px;

  border-radius: 5px;
  background: linear-gradient(145deg, #1e385e, #192f4f);
  box-shadow: 6px 6px 12px #162945,
    -6px -6px 12px #223f6b;

}

.mobile_key_speed {
  width: 80px;
  height: 40px;
  font-size: 16px;
  margin-bottom: 7px;
  transition: .3s;
}


.active_btn {
  border: 1px solid rgb(127, 184, 127);
  color: rgb(127, 184, 127);
}

.arrow_rot_left {
  position: absolute;
  top: 0px;
  left: 0;
}

.arrow_rot_right {
  position: absolute;
  top: 0px;
  right: 0;
}

.arrow_left {
  position: absolute;
  top: 75px;
  left: 0;
}

.arrow_right {
  position: absolute;
  top: 75px;
  right: 0;
}

.arrow_up {
  position: absolute;
  top: 0;
  left: 85px;
}

.arrow_down {
  position: absolute;
  top: 75px;
  left: 85px;
}