html {
  touch-action: manipulation;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(57, 54, 54);
  height: 100vh;
  align-items: center;
  justify-content: center;
}



/* PARAMETERS CONTAINER ----- */


.container_inputs {
  max-width: 430px;
  margin: auto;
}

.inputs_mov_rot {
  display: flex;
  gap: 20px;
}

.input {
  padding: 7px 12px;
  width: 60px;
  background-color: rgb(57, 54, 54);
  color: antiquewhite;
  border: 1px solid rgb(126, 126, 126);
  border-radius: 5px;
  outline: none;
  transition: 0.3s;
  margin-bottom: 10px;
  font-size: 16px;
}

.input:hover {
  padding: 7px 12px;
  width: 60px;
  background-color: rgb(81, 75, 75);
  color: rgb(248, 244, 239);
  border: 1px solid rgb(126, 126, 126);
  border-radius: 5px;
  outline: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

label {
  color: antiquewhite
}

.select {
  padding: 10px 12px;
  width: 120px;
  background-color: rgb(57, 54, 54);
  color: antiquewhite;
  border: 1px solid rgb(126, 126, 126);
  border-radius: 5px;
  outline: none;
  transition: 0.3s;
  font-size: 16px;
}

.select:hover {
  padding: 7px 12px;
  width: 120px;
  background-color: rgb(81, 75, 75);
  color: rgb(248, 244, 239);
  border: 1px solid rgb(126, 126, 126);
  border-radius: 5px;
  outline: none;
}


.btn {
  padding: 10px 15px;
  color: antiquewhite;
  border: 1px solid rgb(126, 126, 126);
  background-color: rgb(57, 54, 54);
  border-radius: 5px;
  transition: 0.3s;
  margin-bottom: 10px;
  font-size: 16px;
}

.btn:hover {
  padding: 10px 15px;
  color: rgb(248, 244, 239);
  border: 1px solid rgb(126, 126, 126);
  background-color: rgb(81, 75, 75);
  border-radius: 5px;
}

.btn_grab {
  /* display: none; */
}





/* PLAYGROUND CONTAINER ----- */

.container {
  max-width: 430px;
  height: 500px;
  border: 1px solid gray;
  position: relative;
  margin: 5px auto;
}






/* MOBILE CONTROLLERS CONTAINER ------ */

.mobile_controllers_container {
  display: flex;
  justify-content: center;
  max-width: 430px;
  height: 150px;
  margin: 15px auto;
  /* border: 1px solid gray; */
  margin-bottom: 20px;
}



/* MOBILE CONTROLLERS */

.mobile_controllers {
  width: 50%;
  position: relative;
  width: 230px;
  height: 150px;
  margin-left: 50px;
  /* border: 1px solid gray; */
}

.mobile_key {
  display: flex;
  width: 60px;
  height: 60px;
  align-items: center;
  justify-content: center;
  color: wheat;
  border: 1px solid gray;
  border-radius: 5px;
  font-size: 28px;
}

.arrow_rot_left {
  position: absolute;
  top: 0px;
  left: 0;
}

.arrow_rot_right {
  position: absolute;
  top: 0px;
  right: 0;
}

.arrow_left {
  position: absolute;
  top: 75px;
  left: 0;
}

.arrow_right {
  position: absolute;
  top: 75px;
  right: 0;
}

.arrow_up {
  position: absolute;
  top: 0;
  left: 85px;
}

.arrow_down {
  position: absolute;
  top: 75px;
  left: 85px;
}





/* FIGURES ----- */

/* -- FIGURES for play */

.square,
.triangle_1_big,
.triangle_2_big,
.triangle_1_medium,
.triangle_1_small,
.triangle_2_small,
.parallelepiped {
  transition: .4s;
}


.square {
  width: 70px;
  height: 70px;
  background-color: rgb(162, 141, 234);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  transform: rotate(0deg);
}

.triangle_1_big {
  position: absolute;
  top: 0;
  left: 100px;
  width: 140px;
  height: 140px;
  background-color: rgb(229, 229, 82);
  clip-path: polygon(0 100%, 100% 100%, 0 0);
  z-index: 2;
  transform: rotate(90deg);
}


.triangle_2_big {
  position: absolute;
  top: 0;
  left: 260px;
  width: 140px;
  height: 140px;
  background-color: rgb(30, 70, 248);
  clip-path: polygon(0 100%, 100% 100%, 0 0);
  z-index: 1;
  transform: rotate(180deg);
}

.triangle_1_medium {
  position: absolute;
  top: 300px;
  left: 0;
  width: 100px;
  height: 100px;
  background-color: rgb(246, 146, 16);
  clip-path: polygon(0 100%, 100% 100%, 0 0);
  z-index: 6;
  transform: rotate(0deg);
}

.triangle_1_small {
  position: absolute;
  top: 200px;
  left: 0;
  width: 70px;
  height: 70px;
  background-color: rgb(100, 71, 195);
  clip-path: polygon(0 100%, 100% 100%, 0 0);
  z-index: 4;
  transform: rotate(0deg);
}

.triangle_2_small {
  position: absolute;
  top: 100px;
  left: 0;
  width: 70px;
  height: 70px;
  background-color: rgb(60, 191, 48);
  clip-path: polygon(0 100%, 100% 100%, 0 0);
  z-index: 5;
  transform: rotate(0deg);
}


.parallelepiped {
  position: absolute;
  top: 420px;
  left: 25px;
  width: 95px;
  height: 50px;
  background: red;
  transform: skew(45deg);
}





/* -- FIGURES for sample */

.square_sample,
.triangle_1_big_sample,
.triangle_2_big_sample,
.triangle_1_medium_sample,
.triangle_1_small_sample,
.triangle_2_small_sample,
.parallelepiped_sample {
  background-color: rgb(160, 160, 161);
  z-index: -5;
  display: none;
}




.square_sample {
  width: 70px;
  height: 70px;
  position: absolute;
  top: 350px;
  left: 300px;
  transform: rotate(0deg);
}

.triangle_1_big_sample {
  position: absolute;
  top: 200px;
  left: 300px;
  width: 140px;
  height: 140px;
  clip-path: polygon(0 100%, 100% 100%, 0 0);
  transform: rotate(0deg);
}


.triangle_2_big_sample {
  position: absolute;
  top: 350px;
  left: 400px;
  width: 140px;
  height: 140px;
  clip-path: polygon(0 100%, 100% 100%, 0 0);
  transform: rotate(0deg);
}

.triangle_1_medium_sample {
  position: absolute;
  top: 300px;
  left: 170px;
  width: 100px;
  height: 100px;
  clip-path: polygon(0 100%, 100% 100%, 0 0);
  transform: rotate(0deg);
}

.triangle_1_small_sample {
  position: absolute;
  top: 220px;
  left: 200px;
  width: 70px;
  height: 70px;
  clip-path: polygon(0 100%, 100% 100%, 0 0);
  transform: rotate(0deg);
}

.triangle_2_small_sample {
  position: absolute;
  top: 140px;
  left: 170px;
  width: 70px;
  height: 70px;
  clip-path: polygon(0 100%, 100% 100%, 0 0);
  transform: rotate(0deg);
}


.parallelepiped_sample {
  position: absolute;
  top: 420px;
  left: 170px;
  width: 95px;
  height: 50px;
  transform: skew(45deg);
}







/* DECORATIONS ----- */

.active_border {
  border: 4px solid rgb(214, 44, 252);
}