.playground_container {
  position: relative;
  max-width: 430px;
  height: 630px;
  margin: 5px auto;
  box-shadow: 0px -2px 16px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  overflow: hidden;

}





/* ? PLAYGROUND AREA */

.playgroundArea {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 630px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
  overflow-x: hidden;
  overflow-y: hidden;
  border-radius: 20px;
  z-index: 2;
  background: #1f3b64;

  transition: 0.3s;

}

.move_top_70px {
  top: -55px;
}






/* ? SETTINGS CONTAINER */

.customise_settings_container {
  position: absolute;
  display: flex;
  align-items: center;
  width: 99%;
  gap: 10px;
  bottom: 0;
  left: 0;
  height: 55px;
  /* padding: 5px; */
  padding-left: 10px;
  padding-right: 10px;
  z-index: 1;
  overflow-x: scroll;
  margin: auto;
}

.customise_settings_container>* {
  flex-shrink: 0;
}

.customise_settings_container::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari, Opera*/
}



/* ? ----- Color schema container */

.color_toggle_container {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 0 5px;

  width: 141px;
  height: 40px;

  border: 1px solid #325282;
  border-radius: 11px;

  transition: 0.5s;
  overflow-x: scroll;
}

.color_toggle_container::-webkit-scrollbar {
  display: none;
}

.schema_box {
  display: flex;
  flex-shrink: 0;

  width: 30px;
  height: 30px;

  border: 1px solid gray;
  border-radius: 10px;
  overflow: hidden;
}

.schema_box_part {
  width: 25%;
  height: 100%;
}



/* ? ----- Background BTN */

.background_btn {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 110px;
  height: 40px;

  color: antiquewhite;
  opacity: .6;

  border: 1px solid #325282;
  border-radius: 10px;

  transition: 0.5s;
}





/* ? ----- Shape builder selector */

.select {
  background-color: transparent;
  padding: 10px 12px;
  width: 100px;
  height: 40px;
  color: antiquewhite;
  border: 1px solid #325282;
  border-radius: 10px;
  outline: none;
  transition: 0.3s;
  font-size: 16px;
  opacity: .6;
}




/* ? ----- Opacity customiser */

.vertical_slider {
  transform: rotate(180deg);
  width: 150px;

}

/* Стилизация трека слайдера */
.vertical_slider::-webkit-slider-runnable-track {
  background: rgb(100, 133, 183);
  border: 1px solid #2b4c7e;
  border-radius: 15px;
}

.vertical_slider:focus {
  outline: none;
}




/* ? ----- CHECKBOXES */

/* Select all */

.select_all_checkbox {
  display: none;
}

.select_all_checkbox+label {
  position: relative;
  cursor: pointer;
  width: 38px;
  height: 38px;
  display: inline-block;
}

.select_all_checkbox+label::before {
  content: '';
  display: inline-block;
  width: 38px;
  height: 38px;
  background-color: transparent;
  /* Фон чекбокса */
  border: 1px solid #325282;
  /* Бордер чекбокса */
  border-radius: 10px;
  /* Закругление углов */
  transition: background-color 0.3s ease;
  opacity: .6;
}

.select_all_checkbox:checked+label::before {
  background-color: transparent;
  /* Изменение фона при выборе */
}

.select_all_checkbox:checked+label::after {
  content: '';
  position: absolute;
  left: 15px;
  top: 8px;
  width: 12px;
  height: 20px;
  border: solid #4874b7;
  border-width: 0 4px 4px 0;
  transform: rotate(45deg);
}


/* Multiole select */

.multumovements_checkbox {
  display: none;
}

.multumovements_checkbox+label {
  position: relative;
  cursor: pointer;
  width: 38px;
  height: 38px;
  display: inline-block;
}

.multumovements_checkbox+label::before {
  content: '';
  display: inline-block;
  width: 38px;
  height: 38px;
  background-color: transparent;
  /* Фон чекбокса */
  border: 1px solid #325282;
  /* Бордер чекбокса */
  border-radius: 10px;
  /* Закругление углов */
  transition: background-color 0.3s ease;
  opacity: .6;
}

.multumovements_checkbox:checked+label::before {
  background-color: transparent;
  /* Изменение фона при выборе */
}

.multumovements_checkbox:checked+label::after {
  content: '';
  position: absolute;
  left: 15px;
  top: 8px;
  width: 12px;
  height: 20px;
  border: solid #4874b7;
  border-width: 0 4px 4px 0;
  transform: rotate(45deg);
}

.icon_emo {
  font-size: 25px;
  opacity: 0.7;
  margin-left: 10px;
}