@import url('settings-panel.css');
@import url('playground-area.css');
@import url('mobile-controls.css');
@import url('figures.css');



html {
  touch-action: manipulation;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #393636;
  height: 100vh;
  align-items: center;
  justify-content: center;
}