/* -- FIGURES for play */

.square {
  width: 70px;
  height: 70px;
  background: #B6D1E3;
  position: absolute;
  top: 400px;
  left: 200px;
  z-index: 3;
  transform: rotate(0deg);
}

.triangle_1_big {
  position: absolute;
  top: 0;
  left: 100px;
  width: 140px;
  height: 140px;
  background: #7262A8;
  clip-path: polygon(0 100%, 100% 100%, 0 0);
  z-index: 2;
  transform: rotate(90deg);
}


.triangle_2_big {
  position: absolute;
  top: 0;
  left: 260px;
  width: 140px;
  height: 140px;
  background: #BAB3A2;
  clip-path: polygon(0 100%, 100% 100%, 0 0);
  z-index: 1;
  transform: rotate(180deg);
}

.triangle_1_medium {
  position: absolute;
  top: 300px;
  left: 0;
  width: 100px;
  height: 100px;
  background: #6CC4B5;
  clip-path: polygon(0 100%, 100% 100%, 0 0);
  z-index: 6;
  transform: rotate(0deg);
}

.triangle_1_small {
  position: absolute;
  top: 200px;
  left: 0;
  width: 70px;
  height: 70px;
  background: #E9DAB0;
  clip-path: polygon(0 100%, 100% 100%, 0 0);
  z-index: 4;
  transform: rotate(0deg);
}

.triangle_2_small {
  position: absolute;
  top: 100px;
  left: 0;
  width: 70px;
  height: 70px;
  background: #6F8FAD;
  clip-path: polygon(0 100%, 100% 100%, 0 0);
  z-index: 5;
  transform: rotate(0deg);
}


.parallelepiped {
  position: absolute;
  top: 420px;
  left: 25px;
  width: 95px;
  height: 50px;
  background: #D96BA7;
  transform: skew(45deg);
}



.square,
.triangle_1_big,
.triangle_2_big,
.triangle_1_medium,
.triangle_1_small,
.triangle_2_small,
.parallelepiped {
  /* transition: .1s; */
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  /* border: 1px solid rgb(159, 155, 155); */
}





/* -- FIGURES for sample */

.square_sample,
.triangle_1_big_sample,
.triangle_2_big_sample,
.triangle_1_medium_sample,
.triangle_1_small_sample,
.triangle_2_small_sample,
.parallelepiped_sample {
  background-color: rgb(160, 160, 161);
  z-index: -5;
  display: none;
}




.square_sample {
  width: 70px;
  height: 70px;
  position: absolute;
  top: 350px;
  left: 300px;
  transform: rotate(0deg);
}

.triangle_1_big_sample {
  position: absolute;
  top: 200px;
  left: 300px;
  width: 140px;
  height: 140px;
  clip-path: polygon(0 100%, 100% 100%, 0 0);
  transform: rotate(0deg);
}


.triangle_2_big_sample {
  position: absolute;
  top: 350px;
  left: 400px;
  width: 140px;
  height: 140px;
  clip-path: polygon(0 100%, 100% 100%, 0 0);
  transform: rotate(0deg);
}

.triangle_1_medium_sample {
  position: absolute;
  top: 300px;
  left: 170px;
  width: 100px;
  height: 100px;
  clip-path: polygon(0 100%, 100% 100%, 0 0);
  transform: rotate(0deg);
}

.triangle_1_small_sample {
  position: absolute;
  top: 220px;
  left: 200px;
  width: 70px;
  height: 70px;
  clip-path: polygon(0 100%, 100% 100%, 0 0);
  transform: rotate(0deg);
}

.triangle_2_small_sample {
  position: absolute;
  top: 140px;
  left: 170px;
  width: 70px;
  height: 70px;
  clip-path: polygon(0 100%, 100% 100%, 0 0);
  transform: rotate(0deg);
}


.parallelepiped_sample {
  position: absolute;
  top: 420px;
  left: 170px;
  width: 95px;
  height: 50px;
  transform: skew(45deg);
}


/* DECORATIONS ----- */

.active_border {
  border: 3px solid white;
}