@import url('app_header.css');
@import url('playground_container/playground-area.css');
@import url('mobile-controls.css');
@import url('figures.css');
@import url('menu.css');
@import url('background_selector.css');



html {
  touch-action: manipulation;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #1c3458;
  height: 100vh;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
}