.playground_container {
  position: relative;
  max-width: 430px;
  height: 630px;
  margin: 5px auto;
  box-shadow: 0px -2px 16px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  overflow: hidden;
}

.customise_settings_container {
  position: absolute;
  display: flex;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60px;
  border: 1px solid gray;
  padding: 5px;
  z-index: 1;
}










.playgroundArea {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 630px;
  margin: 5px auto;
  /* box-shadow: 0px -2px 16px rgba(0, 0, 0, 0.3); */
  overflow-x: hidden;
  overflow-y: hidden;
  border-radius: 20px;
  z-index: 2;
  background: #1c3458;
  transition: 0.5s;

}


/* ? Color schema */
.color_toggle_container {
  display: flex;
  /* position: absolute; */
  width: 141px;
  height: 50px;

  border-radius: 13px;
  /* bottom: 15px;
  left: 10px; */
  padding: 5px;
  padding-bottom: 0;

  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);

  border: none;
  transition: 0.5s;

  overflow-x: scroll;
}

.color_toggle_container::-webkit-scrollbar {
  display: none;
}

.schema_box {
  flex-shrink: 0;
  display: flex;
  width: 40px;
  height: 40px;
  border: 1px solid gray;
  margin-bottom: 5px;
  border-radius: 10px;
  overflow: hidden;
}

.schema_box_part {
  width: 25%;
  height: 100%;
}


.color_toggle_container_long {
  height: 160px;
}



/* ? BTNs container */

.btns_box {
  /* position: absolute;
  bottom: 15px;
  right: 10px; */
  display: flex;
  gap: 10px;
  transition: 0.5s;
}





/* ? Shape builder selector */

.container_selector_shape {
  background-color: rgba(255, 255, 255, 0.05);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 10px;
  transition: 0.5s;
}

.select {
  background-color: transparent;
  padding: 10px 12px;
  width: 80px;
  /* height: 40px; */
  color: antiquewhite;
  border-radius: 5px;
  outline: none;
  transition: 0.3s;
  font-size: 16px;
  opacity: .6;
  border: none;
}



.input_opacity {
  opacity: .6;
  height: 42px;
}


/* ? Opacity customiser */

.opacity_cutomiser_box {
  position: absolute;
  display: flex;
  justify-content: center;
  top: 60px;
  right: 10px;
  width: 20px;
  height: 160px;
  border-radius: 5px;
  z-index: 30;
  overflow: hidden;
  transition: 0.5s;

}

.vertical_slider {
  transform: rotate(90deg);

}

/* Стилизация трека слайдера */
.vertical_slider::-webkit-slider-runnable-track {
  background: rgba(28, 52, 88);
  border: 1px solid #2b4c7e;
  border-radius: 15px;
}


.vertical_slider:focus {
  outline: none;
}