.settings-panel {
  max-width: 430px;
  margin: auto;
  /* box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2); */
}

.inputs_mov_rot {
  display: flex;
  gap: 20px;
}

.input {
  padding: 7px 12px;
  width: 60px;
  background-color: transparent;
  color: antiquewhite;
  border: 1px solid rgb(126, 126, 126);
  border-radius: 5px;
  outline: none;
  transition: 0.3s;
  margin-bottom: 10px;
  font-size: 16px;
}

.input:hover {
  padding: 7px 12px;
  width: 60px;
  color: antiquewhite;
  border: 1px solid rgb(126, 126, 126);
  border-radius: 5px;
  outline: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

label {
  color: antiquewhite
}


.btn {
  padding: 10px 15px;
  color: antiquewhite;
  border: 1px solid rgb(126, 126, 126);
  background-color: transparent;
  border-radius: 5px;
  transition: 0.3s;
  margin-bottom: 10px;
  font-size: 16px;
}

.btn:hover {
  padding: 10px 15px;
  color: rgb(248, 244, 239);
  border: 1px solid rgb(126, 126, 126);
  background-color: transparent;
  border-radius: 5px;
}

.btn_grab {
  /* display: none; */
}

.temp_save_figure_obj_container {
  max-width: 300px;
  height: 250px;
  background-color: rgb(81, 75, 75);
  display: none;
  color: rgb(248, 244, 239);
}